.slick-dots {
  bottom: initial;
  margin-top: -50px;
  right: -40%;
  color: #fff;
}

.slick-dots li {
  width: 5px !important;
}

.slick-slide {
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .slick-dots {
    top: 600px !important;
    right: 0 !important;
  }
}

.slick-dots li button:before {
  opacity: 0.5;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}
